In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [102]:
#Load json file into a dataframe
with open('data/world_bank_projects.json', 'r') as json_file:
    df = pd.read_json(json_file)

In [13]:
print(df.head())

                                      _id  approvalfy board_approval_month  \
0  {u'$oid': u'52b213b38594d8a2be17c780'}        1999             November
1  {u'$oid': u'52b213b38594d8a2be17c781'}        2015             November
2  {u'$oid': u'52b213b38594d8a2be17c782'}        2014             November
3  {u'$oid': u'52b213b38594d8a2be17c783'}        2014              October
4  {u'$oid': u'52b213b38594d8a2be17c784'}        2014              October

      boardapprovaldate                                 borrower  \
0  2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1  2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2  2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3  2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4  2013-10-31T00:00:00Z                      MINISTRY OF FINANCE

            closingdate                              country_namecode  \
0  2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                   NaN                      Republic of Tunisia!$!TN
2                   NaN                                   Tuvalu!$!TV
3                   NaN                        Republic of Yemen!$!RY
4  2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS

  countrycode                              countryname    countryshortname  \
0          ET  Federal Democratic Republic of Ethiopia            Ethiopia
1          TN                      Republic of Tunisia             Tunisia
2          TV                                   Tuvalu              Tuvalu
3          RY                        Republic of Yemen  Yemen, Republic of
4          LS                       Kingdom of Lesotho             Lesotho

                         ...                           sectorcode source  \
0                        ...                          ET,BS,ES,EP   IBRD
1                        ...                                BZ,BS   IBRD
2                        ...                                   TI   IBRD
3                        ...                                   JB   IBRD
4                        ...                             FH,YW,YZ   IBRD

   status  supplementprojectflg  \
0  Active                     N
1  Active                     N
2  Active                     Y
3  Active                     N
4  Active                     N

                                              theme1  \
0   {u'Percent': 100, u'Name': u'Education for all'}
1  {u'Percent': 30, u'Name': u'Other economic man...
2  {u'Percent': 46, u'Name': u'Regional integrati...
3  {u'Percent': 50, u'Name': u'Participation and ...
4  {u'Percent': 30, u'Name': u'Export development...

                                      theme_namecode    themecode   totalamt  \
0  [{u'code': u'65', u'name': u'Education for all'}]           65  130000000
1  [{u'code': u'24', u'name': u'Other economic ma...        54,24          0
2  [{u'code': u'47', u'name': u'Regional integrat...  52,81,25,47    6060000
3  [{u'code': u'57', u'name': u'Participation and...        59,57          0
4  [{u'code': u'45', u'name': u'Export developmen...        41,45   13100000

  totalcommamt                                                url
0    130000000  http://www.worldbank.org/projects/P129828/ethi...
1      4700000  http://www.worldbank.org/projects/P144674?lang=en
2      6060000  http://www.worldbank.org/projects/P145310?lang=en
3      1500000  http://www.worldbank.org/projects/P144665?lang=en
4     13100000  http://www.worldbank.org/projects/P144933/seco...

[5 rows x 50 columns]

In [73]:
#1. Find 10 countries with the most projects

#Print top 10 countries and number of projects
print(df['countryname'].value_counts().head(10))

#Make list of top 10 countries
top10=[]
counted = df.groupby('countryname')['countryname'].count().sort_values(ascending=False)
for key in counted.head(10).keys():
    top10.append(str(key))
    
print(top10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64
["People's Republic of China", 'Republic of Indonesia', 'Socialist Republic of Vietnam', 'Republic of India', 'Republic of Yemen', 'Nepal', "People's Republic of Bangladesh", 'Kingdom of Morocco', 'Africa', 'Republic of Mozambique']

In [43]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')
print(df['mjtheme_namecode'].value_counts().head(10))

[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u'Environment and natural resources management'}]                                                                                            12
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'11', u'name': u''}]                                                                                                                                                                    11
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]                                                                                                                                                     8
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'4', u'name': u'Financial and private sector development'}]                                                                                                       6
[{u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}, {u'code': u'2', u'name': u'Public sector governance'}]                                                                                6
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'7', u'name': u'Social dev/gender/inclusion'}]                                                                                                                                           5
[{u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}, {u'code': u'8', u'name': u'Human development'}]     5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'11', u'name': u''}]                                                                                                                                         5
[{u'code': u'11', u'name': u'Environment and natural resources management'}, {u'code': u'4', u'name': u''}]                                                                                                                                          5
[{u'code': u'4', u'name': u'Financial and private sector development'}, {u'code': u'5', u'name': u'Trade and integration'}]                                                                                                                          5
Name: mjtheme_namecode, dtype: int64

In [106]:
#3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

#Make dictionary to store the name for each theme code
code_dict = {}
for entry in df['mjtheme_namecode']:
    for codes in entry:
        if codes['name']!='':
            if codes['code'] not in code_dict.keys():
                code_dict[codes['code']]= codes['name']

#Add name to themes that are missing codes:
for i in df['mjtheme_namecode']:
    for codes in i:
        if codes['name']=='':
            codes['name']=code_dict[codes['code']]